<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Police background</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="../static/css/font.css">
    <link rel="stylesheet" href="../static/css/xadmin.css">

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/js/xadmin.js"></script>
    <link rel="shortcut icon" href="../static/images/bl.png" type="image/x-icon"/>
</head>
<body>
<!-- top start -->
<div class="container">
    <div class="logo"><a href="/">Police background</a></div>
    <div class="left_open">
        <i title="Expand left column" class="iconfont">&#xe699;</i>
    </div>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;">Personal center</a>
            <dl class="layui-nav-child">
                <!-- secondary menu -->
                <dd><a href="/logout">Log out</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item to-index"><a href="/">Visual page</a></li>
    </ul>

</div>
<!-- top start -->
<!-- middle start -->
<!-- Left menu start -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6eb;</i>
                    <cite>Home Page</cite>
                    <i class="iconfont nav_right">&#xe6a7;</i>
                </a>
                <ul class="sub-menu">
                    <li><a _href="html/welcome"><i class="iconfont">&#xe6a7;</i><cite>Control page</cite></a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont icon-">&#xe69e;</i>
                    <cite>System manage</cite>
                    <i class="iconfont nav_right">&#xe6a7;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="html/user">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>User manage</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="html/notice">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>Notice manage</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="html/version">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>Version manage</cite>
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe698;</i>
                    <cite>Data manage</cite>
                    <i class="iconfont nav_right">&#xe6a7;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="html/category">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>Nature manage</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="html/type">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>Type manage</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="html/case">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>Cases manage</cite>
                        </a>
                    </li>

                </ul>
            </li>
{#            <li>#}
{#                <a href="javascript:;">#}
{#                    <i class="iconfont">&#xe696;</i>#}
{#                    <cite>Similar data</cite>#}
{#                    <i class="iconfont nav_right">&#xe6a7;</i>#}
{#                </a>#}
{#                <ul class="sub-menu">#}
{#                    <li>#}
{#                        <a _href="html/predict">#}
{#                            <i class="iconfont">&#xe6a7;</i>#}
{#                            <cite>similarity analysis</cite>#}
{#                        </a>#}
{#                    </li>#}
{##}
{#                </ul>#}
{#            </li>#}
        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- End of left menu -->
<!-- Right body start -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <li class="home"><i class="layui-icon">&#xe68e;</i>Home page</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='html/welcome' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="page-content-bg"></div>
</body>
</html>
